<!DOCTYPE html>
<html>
    <head>
        <title>Add Tasks</title>
    </head>
    <body>
        <h1>Add a new Task</h1>
         <form action="/add" method="POST">
        <label>Title:</label><br>
        <input type="text" name="title" required><br><br>

        <label>Description:</label><br>
        <textarea name="description"></textarea><br><br>

        <label>Due Date:</label><br>
        <input type="date" name="due_date"><br><br>

        <label>Category:</label><br>
        <input type="text" name="category"><br><br>

        <label>Priority (0.0 to 1.0):</label><br>
        <input type="number" name="priority" step="0.1" min="0" max="1" required><br><br>

        <button type="submit">Add Task</button>
    </form>

    </body>
</html>