<!DOCTYPE html>
<html>
    <head>
        <title>Edit Task</title>
    </head>
    <body>
        <h1>Edit Task</h1>
        
        <form action="/edit/{{ task[0] }}" method="POST">

        <label>Title:</label><br>
        <input type="text" name="title" value="{{ task[1] }}"><br><br>

        <label>Description:</label><br>
        <textarea name="description">{{ task[2] }}</textarea><br><br>

        <label>Due Date:</label><br>
        <input type="date" name="due_date" value="{{ task[3] }}"><br><br>

        <label>Category:</label><br>
        <input type="text" name="category" value="{{ task[4] }}"><br><br>

        <label>Priority:</label><br>
        <input type="number" step="0.1" name="priority" value="{{ task[5] }}"><br><br>

        <button type="submit">Save Changes</button>
    </form>

    <br>
    <a href="/tasks">Back to Tasks</a>

    </body>
</html>

